<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772702267067-569ig3qqmsea489ii5g1o820v1aumrnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772702267067-569ig3qqmsea489ii5g1o820v1aumrnk</string>
	<key>API_KEY</key>
	<string>AIzaSyCvLQNHNlcE0WlnEaMXCHAOpfsmTUGv-Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>772702267067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knowInforms.kye</string>
	<key>PROJECT_ID</key>
	<string>know-your-expense</string>
	<key>STORAGE_BUCKET</key>
	<string>know-your-expense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772702267067:ios:83f20a1df696d31a3fab9e</string>
</dict>
</plist>